node_modules
packages/*/node_modules
packages/*/dist
packages/daemon

runtime
logs
backups
storage
data

.git
.gitignore
.env
.env.*
!.env.example

*.md
!packages/*/README.md
.db-credentials.txt

Dockerfile*
docker-compose*
.dockerignore
